<h1>Edit collection</h1>
 
<%= form_for @collection do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<%= content_for :action_links do %>
<%= link_to("Delete this collection", { :action => "destroy", :id => @collection },
  :confirm => "Are you sure you want to delete this collection?",
  :method => :delete) %>
<% end %>