<h1>Edit Album</h1>
 
<%= form_for @album do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>
 

<%= content_for :action_links do %>
<% if has_role?("admin") %>

<%= link_to("Delete album", { :action => "destroy", :id => @album, :collection_id => params[:collection_id] },
  :confirm => "Are you sure you want to delete this album?",
  :method => :delete) %>
<% end %>
<% end %>
