<h2><%= @album.title %></h2>

<div id="multipleimages">
<table>
	<% count = 0.0 %>
	<% for photo in @album.photos.find(:all, :order => "Id ASC") %>
	<% count += 1%>
  	<% if count == 1 || ( (count-1) / 4.0 == ( (count-1) / 4.0).to_i ) %><tr><% end %>
	<td><%= link_to image_tag( photo.path_modified_public("preview") ), [@album.collections.first, @album, photo] %></td>
  	<% if count / 4.0 == (count / 4.0).to_i %></tr><% end %>
	<% end %>
</table>
</div>

<p><%= @album.description %></p>
<p>Tagged with: <%= @album.tags.map {|tag| (link_to tag.title, tag_photos_path(tag) ) + " " } %></p>

<% if has_role?("admin") %>
<p><%= @album.address %></p>
<% end %>
<% if has_role?("admin") %>
<p><%= @album.note %></p>
<% end %>

<% content_for :action_links do %>
<% if has_role?("admin") %>
<%= link_to "Edit album", edit_album_path(@album) %> |&nbsp;
<%= link_to "Edit all photos", edit_multiple_album_photos_path(@album) %> |&nbsp;
<%= link_to "Add photos", upload_album_photos_path(@album) %>
<% end %>
<% end %>
