<%= form_for :photos, :url => update_multiple_photos_path, :html => { :method => :put } do |f| %>
<% for photo in @photos %>
<p>
<%= f.fields_for photo, :index => photo.id do |p|%>
	<%= p.check_box :_delete  %>
	<%= render :partial => "photos/thumb", :locals => {:photo => photo } %>
	<%= p.text_field :title %>
	<%= p.text_field :tags, :value => photo.tag_list %>
<% end%>
</p>
<% end%>
  <p><%= f.submit "Submit" %></p>
<% end %>

<br /><%= link_to "Back to #{@album.title}", @album %>