<h1><%= @photo.title%></h1>

<div id="fullimage">
	<div id="navigation">
		<p class="links">
			<% unless @previous.nil?%>
			<%= link_to "Previous", [ @photo.album.collections.first, @photo.album, @previous] %>
			<% unless @next.nil? %>
			 | 
			<% end %>
			<% end %>
			<% unless @next.nil? %>
			<%= link_to "Next", [ @photo.album.collections.first, @photo.album, @next] %> 
			<% end %>
		</p>
	</div>
  <p><%= image_tag @photo.path_modified_public("large") %></p>
</div>

<br/>
Tagged with: <%= @photo.tag_list %>
<p><%= @photo.description %></p>

<% if has_role?("admin") %>
<br /><%= link_to "Update photo details", edit_photo_path(@photo) %>
<% end %>
<br /><%= link_to "Back to #{@photo.album.title}", @photo.album %>
<br /><%= link_to "All albums", albums_path %>