<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= APP_CONFIG[:site_name] %></title>
	<%= yield :head %>
	<%= stylesheet_link_tag 'application' %>
</head>
<body>
<div id="container">

<div id="header">
	<%= breadcrumbs %>
	<div id="action_links">
	<%= yield :action_links %>
	<% if current_user %>
	Logged in as <%= current_user.name %>
	<%= link_to 'Logout', logout_path %>
	<% else %>
	<%= link_to 'Login', login_path %>
	<% end %>
	</div>
	<h1><%= APP_CONFIG[:site_name] %></h1>
	<form action="/albums" method="get" id="search">
		<input type="text" name="q" class="textfie.d"/>
		<input type="submit" value="Search" class="button" />
    </form>
    <hr class="seperator" />
</div>

<div id="content">
	<p id="notice"><%= flash[:notice] %></p>
	<%= yield %>
</div>

<div id="footer">
  
  <hr class="seperator" />
  &copy; <a href="http://balderapp.com">Balder</a>.
</div>
</div>

<%= javascript_include_tag 'jquery-1.3.2.js', 'application' %>
<%= yield :javascript %>
</body>
</html>
