<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name = "viewport" content = "width = device-width">
	<meta name = "viewport" content = "initial-scale = 1.0, user-scalable=no">
	<title><%= ENV['TITLE'] || "Photos" %></title>
	<%= yield :head %>
	<%= stylesheet_link_tag 'application', 'iphone' %>
	<%= csrf_meta_tag %>
</head>
<body>
<div id="container">

<div id="header">
	<%= breadcrumbs('/',false) %>
	<div id="action_links">
	<%= yield :action_links %>
	<% if current_user %>
	Logged in as <%= current_user.name %>
	<%= link_to 'Logout', logout_path %>
	<% end %>
	</div>
	<h1>
		<% if ENV['LOGO'] %>
		<%= image_tag ENV['LOGO'] %>
		<% else %>
		<%= ENV['TITLE'] %>
		<% end %>
		</h1>
    <hr class="seperator" />
</div>

<div id="content">
	<p id="notice"><%= flash[:notice] %></p>
	<%= yield %>
</div>

<div id="footer">
</div>

</div>

<%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'balder' %>
<%= yield :javascript %>
</body>
</html>
